altgraph==0.17.2
certifi==2021.5.30
charset-normalizer==2.0.6
distlib==0.3.3
future==0.18.2
HTMLParser==0.0.2
idna==3.2
pefile==2021.9.3
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.3
PySimpleGUI==4.48.0
PySimpleGUIWeb==0.39.0
pywin32-ctypes==0.2.0
remi==2020.3.10
requests==2.26.0
urllib3==1.26.7
wincertstore==0.2
